@model IEnumerable<SecretViewModel> 

<h3>Your secrets</h3>

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="container-fluid">
            <form method="post">
                <div class="form-group">
                    <label asp-for="@item.ServiceName"></label>
                    <input asp-for="@item.ServiceName" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    <label asp-for="@item.MasterPassword"></label>
                    <input asp-for="@item.MasterPassword" class="form-group"/>
                    <span asp-validation-for="@item.MasterPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@item.Password"></label>
                    <input asp-for="@item.Password" class="form-control" type="hidden"/>
                </div>
                <button type="submit" class="btn btn-info">Show password</button>
            </form>
        </div>
    }
</div>