@model IEnumerable<SecretViewModel> 

<div class="narrow-container">
    <h3>Your secrets</h3>
    <hr class="high"/>

    <div class="container-fluid">
        <div id="createSecret">
            <a asp-controller="Secrets" asp-action="Create" class="btn btn-success" >
                Create a new secret
            </a>
        </div>
        @foreach (var item in Model)
        {
            <hr/>
            <div class="container-fluid centered-form">
                <div id="@item.Id">
                    <div class="form-group">
                        <label asp-for="@item.ServiceName" class="secrets-label"></label>
                        <span id=@($"serviceName{item.Id}")>@item.ServiceName </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@item.Password" class="secrets-label"></label>
                        <input asp-for="@item.Password" class="password-input" readonly="@true"
                               type="password" value="FakePassword" id=@($"secretPassword{item.Id}")/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@item.MasterPassword" class="secrets-label"></label>
                        <input asp-for="@item.MasterPassword" class="password-input" id=@($"masterPassword{item.Id}")/>
                        <span asp-validation-for="@item.MasterPassword"></span>
                    </div>
                    <button class="btn btn-info" id=@($"showPasswordBtn{item.Id}")>
                        Show password
                    </button>
                </div>
            </div>
        }
        <input value="@ViewData["UserName"]" type="hidden" id="UserName"/>
        <input value="@ViewData["Token"]" type="hidden" id="Token"/>
        <hr/>
    </div>
</div>

<script src="~/js/secrets.js"></script>